*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 10px;
   background-color: rgb(209, 23, 23);
}
.leftNav{
    display: flex;
   gap:10px;
}
.centerNav{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.leftNav img:nth-child(2){
    width: 90px;
}

.centerNav>input{
    font-size: 15px;
    background-color: white;
    width:60%;
    padding: 4px 10px;
    border:none;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;


}
.centerNav img:nth-child(2){
    background-color: white;
    /* background-color: tan; */
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.centerNav img:nth-child(3){
    margin-left: 10px;
}

.rightNav{
    gap:20px
}

.rightNav img:nth-child(3){
    width:30px;
    border-radius:50%;
}

.ytpre{
    /* height:65%; */
    gap:20px;
    padding: 20px;;
   display:flex;
  flex-direction:column;
   justify-content: center;
    align-items: center;

}
.ydesc>h2{
    font-family: sans-serif;
    text-align:center;
    font-weight:100;
    font-size:25px;
}

.ytdet{
    display:flex;
    flex-direction:column;
    text-align:center;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.ytdet > button{
    padding: 10px 10px;
    border: none;
   align-items: center;
    width:40%;
    font-weight: 600;
    border-radius: 20px;
    background-color: rgb(36, 135, 222);
}

.ytdet p:nth-child(2){
    font-size:15px;
}

.amet{
    color: rgb(0, 123, 255);
}
.all{
    color:rgb(0, 123, 255);
}

.features{
    display: flex;
    background-color:rgb(27, 26, 26);
    justify-content:space-between;
    gap: 20px;
    padding: 20px;
    color: white;
}

.one{
    display:flex;
    padding: 10px;
    flex-direction: column;
    text-align:center;
    gap:8px;
    justify-content: center;
    align-items: center;

}

.two{
    display:flex;
     padding: 10px;
    flex-direction: column;
    text-align:center;
    gap:8px;
    justify-content: center;
    align-items: center;

}

.three{
    display:flex;
     padding: 10px;
    flex-direction: column;
    text-align:center;
    gap:8px;
    justify-content: center;
    align-items: center;

}

.bg1{
    background-image: url(bg1.jpeg);
    height: 55%;
    background-size: cover;
}
.bg1>div>h2{
    font-size: 1.5cm;
    font-weight: lighter;
}

.bg1>div{
    padding: 50px 10px 10px 900px;
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.bg1>div>p{
    font-size: 0.45cm;
    line-height: 22px;
    font-weight: lighter;
}

.bg2{
    background-image: url(bg2.jpeg);
    height: 55%;
    background-size: cover;
}
.bg2>div>h2{
    font-size: 1.5cm;
    font-weight: lighter;
}

.bg2>div{
    padding: 100px 20px 50px 350px;
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.bg2>div>p{
    font-size: 0.45cm;
    line-height: 22px;
    font-weight: lighter;
}

.bg3{
    background-image: url(bg3.jpeg);
    height: 55%;
    background-size: cover;
}
.bg3>div>h2{
    font-size: 1.5cm;
    font-weight: lighter;
}

.bg3>div{
    padding: 50px 10px 10px 900px;
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.bg3>div>p{
    font-size: 0.45cm;
    line-height: 22px;
    font-weight: lighter;
}

.bg4{
    background-image: url(bg4.jpeg);
    height: 55%;
    background-size: cover;
}
.bg4>div>h2{
    font-size: 1.5cm;
    font-weight: lighter;
}

.bg4>div{
    padding: 100px 40px 50px 350px;
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.bg4>div>p{
    font-size: 0.45cm;
    line-height: 22px;
    font-weight: lighter;
}

.faq{
   
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: black;   
 color: white;
 height:50% ;
}
.faqdetail{
 width: 45%;  
 display: flex;
 justify-content: end;
 flex-direction: column;
 gap:20px; 
}
.faq>.faqdetail>p{
    font-size:40px;
    font-style: italic;
    color: aqua;
    align-self: left;
    font-weight: bolder;
    padding: 20px;
}
.details{
    background-color: black;
    color: white;
}
.faq>div>img{
    display: flex;
    justify-content: center;
    height: 15px;
    width: 15px;
}
.drop{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding: 10px;
    font-weight: bold;
}

.helpcenter{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helpcenter>p>span{
  color: rgb(0, 123, 255);
}
