*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}

.navbar{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 10px;
   background-color: rgb(209, 23, 23);
}
.leftNav{
    display: flex;
   gap:10px;
}
.centerNav{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.leftNav img:nth-child(2){
    width: 90px;
}

.centerNav>input{
    font-size: 15px;
    background-color: white;
    width:60%;
    padding: 4px 10px;
    border:none;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;


}
.centerNav img:nth-child(2){
    background-color: white;
    /* background-color: tan; */
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.centerNav img:nth-child(3){
    margin-left: 10px;
}

.rightNav{
    gap:20px
}

.rightNav img:nth-child(3){
    width:30px;
    border-radius:50%;
}

.ytpre{
    /* height:65%; */
    gap:20px;
    padding: 20px;;
   display:flex;
  flex-direction:column;
   justify-content: center;
    align-items: center;

}
.ydesc>h2{
    font-family: sans-serif;
    text-align:center;
    font-weight:100;
    font-size:25px;
}

.ytdet{
    display:flex;
    flex-direction:column;
    text-align:center;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.ytdet > button{
    padding: 10px 10px;
    border: none;
   align-items: center;
    width:40%;
    font-weight: 600;
    border-radius: 20px;
    background-color: rgb(36, 135, 222);
}

.ytdet p:nth-child(2){
    font-size:15px;
}

.amet{
    color: rgb(0, 123, 255);
}
.all{
    color:rgb(0, 123, 255);
}

.features{
    display: flex;
    background-color:rgb(27, 26, 26);
    justify-content:space-between;
    gap: 20px;
    padding: 20px;
    color: white;
}

.one{
    display:flex;
    padding: 10px;
    flex-direction: column;
    text-align:center;
    gap:8px;
    justify-content: center;
    align-items: center;

}

.two{
    display:flex;
     padding: 10px;
    flex-direction: column;
    text-align:center;
    gap:8px;
    justify-content: center;
    align-items: center;

}

.three{
    display:flex;
     padding: 10px;
    flex-direction: column;
    text-align:center;
    gap:8px;
    justify-content: center;
    align-items: center;

}
