
.container{
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:10px;
}
.box{
    height: 200px;
    width: 200px;
    padding: 100px;
    background-color: palevioletred;
    transform: rotateZ(9deg);
    /* transition-property: height,width,background-color; */
    /* transition-property: all; */
    /* transform: translateX(100px);
    transform: translateY(100px); */
/* 
    transform: translate(100px,100px); */
    /* transform: rotateX(60deg); */
    /* border: 10px solid black;
    transform: rotateZ(120deg);
    transform: scaleX(0.5);
    transform: scaleY(1.5);

 */
 transform: scale3d(1);
 transform: perspective(200px) rotateZ(30) scaleZ(2);

/* skew is used to tilt  */
transform: skewX(-45deg);

/* transform: translateX(30px) rotate(90deg) scaleY(1.5); */

   
}
.box:hover{
    width: 350px;
    height: 350px;
    background-color: rgb(82, 150, 185);
    transition-duration: 2s;
    /* transition-delay: 1s; */
    transition-timing-function: ease-in;

    /* transition: property duration timing-function delay; */
    transition: all 0.5 ease-in-out 0.2;

  
}