*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

span{
    background-color: red;
}
h1{
    /* border-width: 2px;
    border-style: solid;
    border-color: black; 
    */
    border: 2px solid green;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    

    /* Shorthand property for setting border width, style, and color. */
    /* border: 2px solid black; */
    /* padding: 20px; */
    /* padding-top: 30px; */

    
    /* Shorthand property to set values for the thickness of the padding area.  */
    
    /* padding: 20px 10px 20px 10px; */

    /* padding: 20px 10px; */

    /* padding: 20px 10px 30px; */

    /* margin: auto;
    margin-width:100px; */

   /* margin: 20px; */
   /* margin-top: 100px; */
   /* margin-bottom: 100px; */
   /* margin-left: 50px; */
   /* margin-right: 50px; */
   /* margin-inline-start: 50px; */
   /* margin-block-start: 50px; */
    background-color: aquamarine;
}

span{
    border: 2px solid brown;
    width: 150px;
    height: 150px;
    /* display: block;
    display:inline;
    display: inline-block; */
}